.text-decoration {
    color: #CEC4EF;
    animation: typing 2s steps(48), blinking 0.5s infinite step-end alternate;
  }
.text-decoration::after {
    content: "|";
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: blink 0.7s infinite;
}
  
@keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
}